.container {
  background-color: antiquewhite;
  position: relative;
  height: 100vh;
}

.event {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.hourWrapper {
  display: flex;
  width: 100%;
  text-align: left;
  margin-right: 10px;
}

.hourDiv {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
}

.minutesWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Your implementation should be responsive (i.e. respond to window resize events). */
